<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WitsAndRiddles</title>
</head>
<body>
<h1>User List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Bio</th>
        <th>Creations</th>
        <th>Solves</th>
    </tr>

    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td>
            <a th:href="@{/users/{id}(id=${user.id})}" th:text="${user.username}"/>
        </td>
        <td th:text="${user.bio}"></td>
        <td th:text="${user.creations.getSize()}"></td>
        <td th:text="${user.solves.getSize()}"></td>
    </tr>
</table>

<a href="/users/register">Register new user</a>

</body>
</html>